<style>
  .desktop-only { display: block; }
  .mobile-only { display: none; }

  @media (max-width: 749px) {
    .desktop-only { display: none; }
    .mobile-only { display: block; }
  }
</style>

<div class="desktop-only">
  <img src="https://cdn.shopify.com/s/files/1/0719/5790/5607/files/Diseno_sin_titulo-25.png?v=1756237681">
</div>
<div class="mobile-only">
  <img src="https://cdn.shopify.com/s/files/1/0719/5790/5607/files/Diseno_sin_titulo-16_52db1e4c-b923-4e90-a329-9665afe6bfc9.png?v=1756236315" alt="Imagen Móvil">
</div>